.App {
  text-align: center;
  color: rgb(68, 52, 31);
  text-decoration: none;
  width: 50%;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2em;
}

.select {
  width : 20em;
  height: 3em;
  padding: 2em;
  margin: 2em;
  text-decoration: none;
  text-align: center;
  
}
.container {
  height: 100px;
  width: 100px;
  background-color: bisque;
  border : 1px solid;
  padding: 300px;
  margin: 100px;
  box-sizing: border-box;
  text-decoration: none; 
}
.address {
  
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  border: 1px solid green;
  border-radius: 15%;
  padding: 10px;
  position: relative;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, .5);
  background-color: rgb(252, 230, 250);
   

}
.address > div {
  align-content: space-between; 
  
  margin: 1.3rem;
}